hoist-pattern[]=@emotion/* # playground/react-emotion
hoist-pattern[]=*babel*
hoist-pattern[]=@swc/* # packages/plugin-react-swc/playground/emotion-plugin, packages/plugin-react-swc/playground/styled-components
hoist-pattern[]=eslint-import-resolver-*
strict-peer-dependencies=false
shell-emulator=true
auto-install-peers=false
link-workspace-packages=true
prefer-workspace-packages=true
