@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@import './paper.css';

@theme {
  --animate-progress: progress 1s infinite linear;

  @keyframes progress {
    0% {
      transform: translateX(0) scaleX(0);
    }
    40% {
      transform: translateX(0) scaleX(0.4);
    }
    100% {
      transform: translateX(100%) scaleX(0.5);
    }
  }
}

@utility vt-name {
  view-transition-name: var(--vt-name);
}

@utility no-vt {
  view-transition-name: none;
}

@view-transition {
  navigation: auto;
}
