name: Publish Package

on:
  push:
    tags:
      - "plugin-*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write # for ArnaudBarre/github-release to create a release
      id-token: write # for provenance generation
    environment: Release
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0

      - name: Set node version to 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
          cache: "pnpm"

      - name: Install deps
        run: pnpm install
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: "1"

      - name: Get pkgName for tag
        id: tag
        run: |
          # Check if the tag contains "alpha"
          if [[ $GITHUB_REF_NAME =~ alpha ]]; then
            echo "isAlpha=true" >> $GITHUB_OUTPUT
          else
            echo "isAlpha=false" >> $GITHUB_OUTPUT
          fi

          # `%@*` truncates @ and version number from the right side.
          # https://stackoverflow.com/questions/9532654/expression-after-last-specific-character
          pkgName=${GITHUB_REF_NAME%@*}
          echo "pkgName=$pkgName" >> $GITHUB_OUTPUT

      - if: steps.tag.outputs.pkgName == 'plugin-react-swc'
        working-directory: packages/plugin-react-swc
        run: pnpm build

      - name: Publish package
        run: pnpm run ci-publish ${{ github.ref_name }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - if: steps.tag.outputs.isAlpha == 'false'
        uses: ArnaudBarre/github-release@4fa6eafe8e2449c7c1c5a91ae50de4ee34db0b40 # v1.5.0
        with:
          path: packages/${{ steps.tag.outputs.pkgName }}/CHANGELOG.md
          tag-name: ${{ github.ref_name }}
