name: Publish Package

on:
  push:
    tags:
      - "plugin-*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write # for ArnaudBarre/github-release to create a release
    environment: Release
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4.0.0

      - name: Set node version to 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
          cache: "pnpm"

      - name: Install deps
        run: pnpm install
        env:
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: "1"

      - name: Publish package
        run: pnpm run ci-publish ${{ github.ref_name }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - uses: ArnaudBarre/github-release@v1
        with:
          path: packages/plugin-react/CHANGELOG.md
